---
title: home
layout: default
---
<!-- <div id="latest" class="header-banner latest">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p><strong>Latest post</strong><a href="{{ site.posts[0].url }}">{{ site.posts[0].title }}</a></p>
      </div>
    </div>
  </div>
</div> -->



<div class="home">

<div class="header-container">
  <div class="video-container">
    <video autoplay="autoplay" loop="loop" muted poster="/videos/stand-in.jpg">
      <source src="/videos/stand-in.mp4" type="video/mp4" />
      <source src="/videos/stand-in.webm" type="video/webm" />
      <source src="/videos/stand-in.ogv" type="video/ogg" />
    </video>
  </div> <!-- video container -->
  <div class="header text-center">
    <img id="home-video-play-button" src="/images/home-video-play-button.svg">
    <!-- <img id="logo" src="/images/logo.svg"> -->
    <img id="logo" src="/images/app-logo.svg">
    <!-- <img id="tagline" src="/images/tagline.svg"> -->
    <h3 id="tagline">app: the human story</h3>
    <h4 id="logline">A film exploring what it means to be human in a world of technology.</h4>
  </div>
</div> <!-- header container -->
</div>

<div class="home">
  <div class="container">

    <div id="pre-order">
      <h1 class="text-center" style="margin-bottom: 1em; margin-top: 1em">Watch the Film</h1>
      <!-- <p class="text-center lead">App: The Human Story is an indie documentary coming soon. With indie filmmaking, you have to do a lot with a little and we need your help. Pre-order the film or merchandise now to keep the cameras rolling.</p> -->

      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <div class="media">
            <div class="media-left">
              <a href="https://vimeo.com/store/ondemand/buy/130444">
                <img class="media-object" src="/images/icons/direct-download.svg" alt="Direct Download">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><a href="https://vimeo.com/store/ondemand/buy/130444">Direct Download</a></h4>
              <p>Available Now</p>
            </div>
          </div> <!-- end .media -->
          <div class="media">
            <div class="media-left">
              <a href="http://buy.appdocumentary.com/category/film">
                <img class="media-object" src="/images/icons/dvd-blu-ray.svg" alt="DVD &amp; Blu-ray">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><a href="http://buy.appdocumentary.com/category/film">DVD &amp; Blu-ray</a></h4>
              <p>*Pre-order - ~Dec Delivery</p>
            </div>
          </div> <!-- end .media -->
          <div class="media">
            <div class="media-left">
              <!-- <a href="#"> -->
                <img class="media-object" src="/images/icons/itunes-google-roku.svg" alt="Film Markets">
              <!-- </a> -->
            </div>
            <div class="media-body">
              <h4 class="media-heading">Film Markets</h4>
              <p>*Coming Soon</p>
            </div>
          </div> <!-- end .media -->
          <div class="media" style="margin-bottom: 15px">
            <div class="media-left">
              <a href="https://vimeo.com/store/ondemand/buy/130444">
                <img class="media-object" src="/images/icons/streaming.svg" alt="Streaming">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                <a href="https://vimeo.com/store/ondemand/buy/130444">Streaming</a>
              </h4>
              <p>Available Now</p>
            </div>
          </div> <!-- end .media -->
        </div>
        <div class="col-md-6">
          <div class="media">
            <div class="media-left">
              <a href="http://buy.appdocumentary.com/product/educational-screening">
                <img class="media-object" src="/images/icons/educational-screenings.svg" alt="Educational Screenings">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><a href="http://buy.appdocumentary.com/product/educational-screening">Educational Screenings</a></h4>
              <p>&nbsp;</p>
              <!-- <p>*Coming Soon</p> -->
            </div>
          </div> <!-- end .media -->
          <div class="media">
            <div class="media-left">
              <!-- <a href="#"> -->
                <img class="media-object" src="/images/icons/corporate-screenings.svg" alt="Company Screenings">
              <!-- </a> -->
            </div>
            <div class="media-body">
              <h4 class="media-heading"><a href="http://buy.appdocumentary.com/product/company-screening">Company Screenings</a></h4>
              <p>&nbsp;</p>
            </div>
          </div> <!-- end .media -->
          <div class="media" style="margin-bottom: 15px">
            <div class="media-left">
              <!-- <a href="#"> -->
                <img class="media-object" src="/images/icons/sponsor-a-screening.svg" alt="Sponsor a Screening">
              <!-- </a> -->
            </div>
            <div class="media-body">
              <h4 class="media-heading"><a href="http://buy.appdocumentary.com/product/sponsor-a-public-screening">Sponsor a Screening</a></h4>
              <p>&nbsp;</p>
            </div>
          </div> <!-- end .media -->
          <div class="media" style="margin-bottom: 15px">
            <div class="media-left">
              <!-- <a href="#"> -->
                <img class="media-object" src="/images/icons/organize-public-screening.svg" alt="Organize a Public Screening">
              <!-- </a> -->
            </div>
            <div class="media-body">
              <h4 class="media-heading"><a href="https://goo.gl/forms/y1zSlrqGxd4oHoWo2">Organize a Public Screening</a></h4>
              <p>&nbsp;</p>
            </div>
          </div> <!-- end .media -->
        </div>

        <h4 class="col-md-offset-2 col-md-10" style="font-style: italic; margin-bottom: 1em; margin-top: 5px">Extras&hellip;</h4>

        <div class="col-md-4 col-md-offset-2">
          <div class="media">
            <div class="media-left">
              <a href="http://buy.appdocumentary.com/category/merchandise">
                <img class="media-object" src="/images/icons/merchandise.svg" alt="Merchandise">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><a href="http://buy.appdocumentary.com/category/merchandise">Merchandise</a></h4>
              <p>Shirts</p>
            </div>
          </div> <!-- end .media -->
          <!-- <div class="media" style="margin-bottom: 15px">
            <div class="media-left">
              <a href="http://buy.appdocumentary.com/product/complete-app-package-pre-order">
                <img class="media-object" src="/images/icons/digital-archive.svg" alt="Digital Archive">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><a href="http://buy.appdocumentary.com/product/complete-app-package-pre-order">Digital Archive</a></h4>
              <p>Full Project Interviews</p>
            </div>
          </div>  --><!-- end .media -->
        </div>
        <div class="col-md-6">
          <!-- <div class="media">
            <div class="media-left">
              <a href="http://buy.appdocumentary.com/category/package-deals#">
                <img class="media-object" src="/images/icons/package-deals.svg" alt="Package Deals">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><a href="http://buy.appdocumentary.com/category/package-deals#">Package Deals</a></h4>
              <p>Combine Items to Save Big</p>
            </div>
          </div>  --><!-- end .media -->
          <div class="media">
            <div class="media-left">
              <!-- <a href="#"> -->
                <img class="media-object" src="/images/icons/soundtrack.svg" alt="Soundtrack">
              <!-- </a> -->
            </div>
            <div class="media-body">
              <h4 class="media-heading">Soundtrack</h4>
              <p>*Coming Soon</p>
            </div>
          </div> <!-- end .media -->
        </div>
      </div>
      <h1 class="text-center" style="margin-bottom: .5em; margin-top: 1.5em">Reviews</h1>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <blockquote>
            <p class="text-center">
              <img src="/images/icons/adam-lisagor.png" style="width: 104px" alt="Adam Lisagor">
            </p>
            <p>
              App: The Human Story is about my people. It’s a loving portrait of a culture that I adore and the people who make it go. The film deftly threads together stories and ideas from the communities and craftspeople who dedicate their lives to the common goal of empowering humanity through software. And by the end, the viewer senses a rich tapestry of tension and triumph that make up the universe of this new cultural unit of progress—the app—and the reasons why it will propel us into a better future.
            </p>
            <footer>Adam Lisagor<br>
            <a href="https://sandwichvideo.com/">Sandwich Video</a></footer>
          </blockquote>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <blockquote>
            <p class="text-center">
              <img src="/images/icons/john-gruber.png" style="width: 104px" alt="John Gruber">
            </p>
            <p>
              There's a segment of the Apple developer community that approaches their work as craft, not mere work. They make apps that aren't just used, but that are loved. "App: The Human Story" perfectly captures the ethos of this community in the explosive early years of the App Store. The film tracks many threads but tells one story: how apps became a fundamental part of our daily lives and culture.
            </p>
            <footer>John Gruber<br>
            <a href="https://daringfireball.net/">Daring Fireball</a></footer>
          </blockquote>
        </div>
      </div>

      <!-- <div class="products row">
        {% for product in site.data.first_products %}
          {% include product.html product=product %}
        {% endfor %}
      </div>
      <div class="products row">
        {% for product in site.data.second_products %}
          {% include product.html product=product %}
        {% endfor %}
      </div> -->
    </div>
    <div class="row text-center" id="shorts">
      <h1 style="margin-bottom: 1em">Shorts</h1>
      <div class="col-sm-6 short">
        <div class="video-play-button-container" data-video-src="https://vimeo.com/116295698">
          <img class="img-responsive" src="/images/video-placeholders/neven-video-placeholder.jpg">
          <img class="video-play-button" src="/images/home-video-play-button.svg">
        </div>
        <p>Neven Mrgan on Why Skeuomorphism Is Like a Classic Car</p>
      </div>
      <div class="col-sm-6 short">
        <div class="video-play-button-container" data-video-src="https://vimeo.com/130820001">
          <img class="img-responsive" src="/images/video-placeholders/app-camp-video-placeholder.jpg">
          <img class="video-play-button" src="/images/home-video-play-button.svg">
        </div>
        <p>Why Start?</p>
      </div>
    </div>
  </div>
</div>
