---
title: home
layout: default
---
<div id="latest" class="latest">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p><strong>Latest post</strong><a href="{{ site.posts[0].url }}">{{ site.posts[0].title }}</a></p>
      </div>
    </div>
  </div>
</div>

<div class="home">
  <div class="container">
    <div class="header text-center">
      <img id="hand-over-phone" src="/images/hand-over-phone.jpg">
      <img id="home-video-play-button" src="/images/home-video-play-button.svg">
      <!-- <img id="logo" src="/images/logo.svg"> -->
      <img id="logo" src="/images/app-logo.svg">
      <!-- <img id="tagline" src="/images/tagline.svg"> -->
      <h3 id="tagline">app: the human story</h3>
      <h4 id="logline">A film exploring what it means to be human in a world of technology.</h4>
    </div>

    <div id="pre-order">
      <h1 class="text-center">Watch the Film</h1>
      <!-- <p class="text-center lead">App: The Human Story is an indie documentary coming soon. With indie filmmaking, you have to do a lot with a little and we need your help. Pre-order the film or merchandise now to keep the cameras rolling.</p> -->

      <div class="row">
        <div class="col-md-6">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="/images/icons/direct-download.svg" alt="Direct Download">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Direct Download</h4>
              *Pre-order - Early September Delivery
            </div>
          </div> <!-- end .media -->
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="/images/icons/dvd-blu-ray.svg" alt="DVD &amp; Blu-ray">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">DVD &amp; Blu-ray</h4>
              *Pre-order - Early September Delivery
            </div>
          </div> <!-- end .media -->
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="/images/icons/itunes-google-roku.svg" alt="Film Markets">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Film Markets</h4>
              *Coming Soon
            </div>
          </div> <!-- end .media -->
        </div>
        <div class="col-md-6">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="/images/icons/streaming.svg" alt="Streaming">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Streaming</h4>
              *Pre-order - Early September Delivery
            </div>
          </div> <!-- end .media -->
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="/images/icons/educational-screenings.svg" alt="Educational Screenings">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Educational Screenings</h4>
              *Pre-order - Early September Delivery
            </div>
          </div> <!-- end .media -->
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="/images/icons/corporate-screenings.svg" alt="Corporate Screenings">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Corporate Screenings</h4>
              Book Today for Pre-Release Screenings
            </div>
          </div> <!-- end .media -->
        </div>

        <h2>Extras</h2>

        <div class="col-md-6">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="/images/icons/merchandise.svg" alt="Merchandise">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Merchandise</h4>
              Shirts, Hats, and Posters
            </div>
          </div> <!-- end .media -->
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="/images/icons/digital-archive.svg" alt="Digital Archive">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Digital Archive</h4>
              Full Project Interviews
            </div>
          </div> <!-- end .media -->
        </div>
        <div class="col-md-6">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="/images/icons/package-deals.svg" alt="Package Deals">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Package Deals</h4>
              Combine Items to Save Big
            </div>
          </div> <!-- end .media -->
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="/images/icons/soundtrack.svg" alt="Soundtrack">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Soundtrack</h4>
              *Coming Soon
            </div>
          </div> <!-- end .media -->
        </div>
      </div>
      <div class="products row">
        {% for product in site.data.first_products %}
          {% include product.html product=product %}
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <blockquote>
            <p class="text-center">
              <img src="/images/neven-quote.png" style="width: 104px" alt="Neven Mrgan">
            </p>
            <p>
              Don’t get me wrong, I was already excited about App: The Human Story…but I had no idea Jake &amp; Jed would just blow the roof off this mother.
            </p>
            <footer>Neven Mrgan<br>
            <a href="http://www.panic.com/">Panic Inc.</a></footer>
          </blockquote>
        </div>
      </div>
      <div class="products row">
        {% for product in site.data.second_products %}
          {% include product.html product=product %}
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <blockquote>
            <p class="text-center">
              <img src="/images/craig-quote.jpg" style="width: 104px" alt="Craig Hockenberry">
            </p>
            <p>
              This is your chance to create a record of something that has changed so many lives.
            </p>
            <footer>Craig Hockenberry<br>
            <a href="http://www.iconfactory.com/">The Iconfactory</a></footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="row text-center" id="shorts">
      <h1>Shorts</h1>
      <p class="lead">The awakening of mass culture to the power and utility of software will create so many stories. Here are a few humble offerings we’ve documented while producing App.</p>
      <div class="col-sm-6 short">
        <div class="video-play-button-container" data-video-src="https://vimeo.com/116295698">
          <img class="img-responsive" src="/images/video-placeholders/neven-video-placeholder.jpg">
          <img class="video-play-button" src="/images/home-video-play-button.svg">
        </div>
        <p>Neven Mrgan on Why Skeuomorphism Is Like a Classic Car</p>
      </div>
      <div class="col-sm-6 short">
        <div class="video-play-button-container" data-video-src="https://vimeo.com/130820001">
          <img class="img-responsive" src="/images/video-placeholders/app-camp-video-placeholder.jpg">
          <img class="video-play-button" src="/images/home-video-play-button.svg">
        </div>
        <p>Why Start?</p>
      </div>
    </div>
  </div>
</div>
