<form action="http://appdocumentary.us7.list-manage2.com/subscribe/post?u=654b70dc4fd0125dcb269ac96&amp;id=7cf4167207" class="email-form" method="post" name="mc-embedded-subscribe-form" role="form">
  <div class="input-group">
    <input type="text" class="form-control input-sm" placeholder="Enter email for updates.">
    <span class="input-group-btn">
      <button type="submit" class="btn-sm btn btn-default">Submit</button>
    </span>
  </div>

  <!-- <button type="submit" class="btn">Submit</button> -->
  <!-- <span><input type="text" name="EMAIL" placeholder="Enter email for updates." class="form&#45;control"></span> -->
</form>
