@import "bower_components/magnific-popup/src/css/main";
@import "latest-posts";
@import "hand-animation";

.mockup {
  left: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10000;
}
body {
  background-color: #000;
  -webkit-backface-visibility: hidden;
}
.navbar-inverse {
  background-color: transparent;
  border-color: none;
}
// .big {
//   font-size: 67px;
// }
// #pre-order {
//   margin-top: 6em;
// }
.media img {
  width: 40px;
}
.media a {
  color: white;
}
.home {
  // padding-bottom: 11em;
  .header {
    position: relative;
    width: 100%;
    img, h3 {
      left: 0;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      right: 0;
    }
  }
  .media {
    margin-bottom: 1px;
  }
  .media-body {
    h4 {
      margin-bottom: 0;
      margin-top: -1px
    }
    p {
      font-style: italic;
      font-size: 85%;
      font-weight: lighter;
      margin-bottom: 0;
    }
  }
}
.header-container {
  // width: 100%;
  // height: 900px;
  // height: calc(100% - 92px);
  // height: -o-calc(100% - 92px); /* opera */
  // height: -webkit-calc(100% - 92px); /* google, safari */
  // height: -moz-calc(100% - 92px); /* firefox */
  // border-left: none;
  // border-right: none;
  position: relative;
  // padding: 20px;
  overflow: hidden;
}
// .video-container {
//   position: absolute;
//   top: 0%;
//   left: 0%;
//   height: 100%;
//   width: 100%;
//   overflow: hidden;
// }
// .video-container video {
//   opacity: .5;
//   position: absolute;
//   z-index: -1;
//   width: 100%;
//   min-width: 1200px;
// }

// .video_container {
//     position: absolute;
//     top: -50%;
//     left: -50%;
//     width: 200%;
//     height: 200%;
// }
//
// .video-container video {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     left: 0;
//     margin: auto;
//     min-height: 50%;
//     min-width: 50%;
// }

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.video-container > video {
  display: block;
  opacity: 0.5;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.video-container video::-webkit-media-controls-panel,
.video-container video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}
@media screen and (max-aspect-ratio: 1920/1080) {
  .video-container > video {
    height: 100%;
  }
}
@media screen and (min-aspect-ratio: 1920/1080) {
  .video-container > video {
    width: 100%;
  }
}
