@media (min-width: 1755px) {
  .jumbotron.home {
    background-position: center;
  }
}
@media (max-width: 380px) {
  .jumbotron.home {
    background: black;
  }
}
.jumbotron.sponsor-page {
  background: #222 url(/images/neven-at-computer.jpg) no-repeat right bottom;
}
@media (min-width: 1755px) {
  .jumbotron.sponsor-page {
    background-position: center bottom;
  }
}
.jumbotron.sponsor-packages-page {
  background: #222 url(/images/jed-at-panic.jpg) no-repeat left center;
}
@media (min-width: 1755px) {
  .jumbotron.sponsor-packages-page {
    background-position: center;
  }
}
.jumbotron {
  background-color: black;
  background-size: cover;
}
.jumbotron.jumbotron-small {
  padding-top: 0;
  padding-bottom: 1em;
}
.jumbotron p {
  line-height: inherit;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.9);
}
.jumbotron.corporate-sponsor {
  padding-bottom: 27px;
  margin-bottom: 0;
}
.jumbotron.corporate-sponsor p, .jumbotron.corporate-sponsor a {
  color: white;
  text-shadow: none;
}
.jumbotron.corporate-sponsor a {
  border-bottom-color: rgba(255, 255, 255, 0.3);
}
.jumbotron.usertesting {
  background-color: #153160;
}
.jumbotron.igloo {
  background-color: #00AA66;
}
.jumbotron.intel {
  background-color: #127CC1;
}
.jumbotron.moxtra {
  background-color: #0082D5;
}
.jumbotron a {
  padding-bottom: 3px;
}
.jumbotron a:hover {
  text-decoration: none;
}
.jumbotron.app-stories {
  background: black url(/images/mrgans-walking.jpg) no-repeat top;
}
@media (max-width: 380px) {
  h1, .h1 {
  font-size: 29px;
  }
  .jumbotron {
    padding: 0;
  }
  .jumbotron.corporate-sponsor {
    padding-top: 15px;
  }
}
@media (max-width: 660px) {
  .jumbotron, .jumbotron.app-stories {
    background: black;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
  .jumbotron.home {
    background-image: url(/images/jed-jake-at-table-2x.jpg);
    background-size: 1755px 500px;
  }
  .jumbotron.app-stories {
    background-image: url(/images/mrgans-walking-2x.jpg);
    background-size: 1755px 500px;
  }
  .jumbotron.sponsor-packages-page {
    background-image: url(/images/jed-at-panic-2x.jpg);
    background-size: 1755px 500px;
  }
  .jumbotron.sponsor-page {
    background-image: url(/images/neven-at-computer-2x.jpg);
    background-size: 1755px 500px;
  }
}
