.nav-mailing-list-signup {
  float: right;
  max-width: ms(12);
  padding-top: 0.6em;
}
@media (max-width: $grid-float-breakpoint) {
  .nav-mailing-list-signup {
    float: none;
    padding-bottom: 1em;
    padding-top: 0;
  }
}
