$font-size-base: ms(0);
// $line-height-base: ms(1);
// $line-height-computed: ms(0);

$font-size-small: ms(-1);
$font-size-large: ms(1);

$font-size-h1: ms(4);
$font-size-h2: ms(3);
$font-size-h3: ms(2);
$font-size-h4: ms(1);
$headings-font-weight: 300;

$font-family-sans-serif: 'nudista-web', sans-serif;
$font-family-serif: 'kulturista-web', serif;
// $font-family-serif: 'lexia', serif;
// $headings-font-family: 'Raleway', sans-serif;
// $headings-font-family: 'nudista-web', sans-serif;
.blog {
  color: #303030;
  // font-size: ms(1);
}
.blog a {
  color: black;
}
.blog p a {
  border-bottom: 1px solid black;
}
// .blog p {
//   margin-bottom: 0.7em;
// }
.latest a, .jumbotron a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.latest a {
  color: white;
  padding-bottom: 2px;
}
a.img {
  font-weight: 300;
  padding-bottom: 0;
  border-bottom: none;
}
body blockquote {
  border-left: 0;
  text-align: center;
  p {
    font-family: $font-family-serif;
    font-style: italic;
    font-weight: 300;
  }
}
